<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= raw("#{@long_message}") %>
    </p>
    <br />
    <p>
      <font style="color:#888"><i>(This message was generated automatically.  Do not reply.)</i></font>
    </p>
  </body>
</html>