// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.statustitle {
	font-size: 15pt;
	margin: 15px;
	margin-left: 0px;
	color:blue
}

a .choicebuttonOverdue {
  display: inline-block;
  background-color: #f00;
	height: 200px;
	width: 250px;
	line-height: 90px;
	margin: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16pt;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px outset #f99;
	&:hover {
		background-color: #f66;
	};
}

a .choicebuttonCurrent {
  display: inline-block;
  background-color: #fc0;
	height: 200px;
	width: 250px;
	margin: 50px;
	line-height: 90px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16pt;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px outset #fc0;
	&:hover {
		background-color: #fd4;
	};
}

.choicebuttonInactive {
	display: inline-block;
	background-color: #f9d3a5;
	height: 200px;
	width: 250px;
	line-height: 90px;
	margin: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16pt;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #f9d3a5;
}

a.choicetitle {
	text-decoration:underline;
	font-size: 40px;
	color: blue;
}

a.choicetitle:hover {
	color: blue;
}

.badMD {
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 12pt;
}

.badMDview {
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 18pt;
}

a .mdbuttonOverdue {
  display: inline-block;
  background-color: #f00;
	height: 350px;
	width:500px;
	line-height: 165px;
	margin: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 26pt;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #f00;
	&:hover {
		background-color: #f00;
	};
}

a .mdbuttonCurrent {
  display: inline-block;
  background-color: #fc0;
	height: 350px;
	width: 500px;
	margin: 50px;
	line-height: 165px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 26pt;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #fc0;
	&:hover {
		background-color: #fc0;
	};
}

.mdbuttonInactive {
	display: inline-block;
	background-color: #f9d3a5;
	height: 350px;
	width: 500px;
	line-height: 165px;
	margin: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 26pt;
	color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 5px solid #f9d3a5;
}


th {
width: 130px;
text-align: left;
padding: 5px;
margin-bottom: 20px;
border-bottom: 1px solid #bbb;
}

td {
padding: 5px;
padding-bottom: 10px;
padding-top: 10px;
}


table {
border-spacing: 0;
margin-top: 40px;
}

th.even {
background-color: #fff8ec
}

td.even {
background-color: #fff8ec
}

table a {
  display: block;
  border: 1px solid #bbb;
  padding: 5px;
  text-decoration: none;
  &:hover {
    color: #000;
    border: 1px solid black; } }

.upcoming {
display: block;
width: 780px;
line-height: 1.8em;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 20px;
padding-top: 0px;
border: 1px solid #bbb;
margin-bottom: 70px;
margin-top: 50px;
}

.show {
margin-top: 30px;
}

.show .name {
font-size: 20pt;
margin-bottom: 40px;
font-weight: bold
}

.show .name .label {
font-size: 10pt;
}

.show .name .enter {
margin-top: -10px;
}

.comment {
margin-top: 30px;
}

.submit {
padding-top: 30px
}

.modifications {
width: 780px;
border: 1px solid #666;
padding: 25px;
margin-top: 50px;
}

.modifications .label {
font-size: 10pt;
margin-bottom: 5px;
}

.modifications .enter {
margin-bottom: 40px
}

.show .target {
font-size: 18pt;
margin-bottom: 30px;
margin-top: -20px
}

.radiotext {
display: inline-block;
}

.newplan {
width: 790px;
border: 1px solid #666;
padding: 25px;
margin-top: 50px
}

.commentList {
margin-top: 50px;
width: 790px;
}

.commentItself {
margin-bottom: 25px
}

.timeSent {
padding-left: 10px;
width: 200px;
background-color: #fff8ec;
color: #888;
}

.commentContent {
width: 100%;
padding: 20px;
background-color: #fff8ec
}

.deactivateText {
font-size: 8pt;
float:right
}

.deactivateText a {
color: #888;
}

.deactivateText a:hover {
color: #f00;
}

.attending {
padding-top: 10px;
padding-bottom: 10px
}

.maillist {
float: right
}

.flowstatus {
margin: 15px;
margin-top: 50px;
margin-left: 0px;
font-size: 14pt;
}

.flowitem {
margin-left: 20px;
margin-bottom: 10px;
}

.totaltime {
display: inline-block;
width: 150px;
color: #999;
}

.timestring {
display: inline-block;
width: 125px;
}

.identifier {
display: inline-block;
}

.chartlink {
display: inline-block;
padding-left: 5px;
padding-right: 8px;
}

.chartlink a {
color:blue
}

.modality {
display: inline-block;
width: 90px;
}

.attending_md {
display: inline-block;
width: 40px;
}

.notes {
display: inline-block;
width: 300px;
padding-left: 20px;
color: #aaa;
}

.fordocs {
padding: 10px;
padding-top: 0px;
border: 10px;
border-style: ridge;
}