<center>
<div style="padding: 40px;color: black">
<%= link_to("BMatrix", :indexchoice, :class => "choicetitle") %>
<span style="font-size:40px;color:black">&nbsp;/&nbsp;</span>
<%= link_to("BTasks", 'http://10.120.3.134/~brt/btasks', :class => "choicetitle") %>
<span style="font-size:40px;color:black">&nbsp;/&nbsp;DosiSheets</span>
</div>
</center>

<% for file in @files %>
	<% display = file[15,2000].gsub(".pdf","") %>
	<% anchor = "dsheets/" + display + ".pdf" %>
	<div style="height:20px"><%= link_to display, anchor -%></div>
<% end %>